[**crawlee-scraper-toolkit v1.0.1**](../README.md)

***

[crawlee-scraper-toolkit](../globals.md) / ValidationResult

# Type Alias: ValidationResult

> **ValidationResult** = `true` \| `string`

Defined in: [utils/validators.ts:6](https://github.com/devalexanderdaza/crawlee-scraper-toolkit/blob/main/src/utils/validators.ts#L6)

Validation result type
